:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: auto;
    background-color: #FFF;
    color: rgb(50 50 60);
    font: 1em sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 + p {
    margin-top: 0;
}

h1 span {
    font-size: 0.8em;
}

button {
    appearance: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
}

main {
    max-width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

section {
    display: flex;
    align-items: center;
    gap: 16px;
}

.emoji {
    font-size: 1.5em;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark light;
    }

    body {
        background-color: rgb(50 50 60);
        color: #FFF;
    }
}
